.container {
  background-color: blue;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 6px 4px;
  border: 1px solid black;
  border-top: 0 none;
}

.title {
  font-size: 54px;
  font-weight: bold;
}
